<head>
  <h2>
    Checkout
  </h2>
</head>

<%= bootstrap_form_for @order, url: checkout_path do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-outline-secondary">
        <div class="card-body">
          <%= f.text_field :first_name %>
          <%= f.text_field :last_name %>
          <%= f.text_area :address %>
          <%= f.text_field :email %>
          <%= f.text_field :phone %>
        </div>
      </div>
    </div>
  </div>

  <hr/>
  <%= f.submit 'Send the order',
    class: "btn btn-primary" %>
<% end %>
