<head>
  <h2>
    Product form
  </h2>
</head>

<%= form_for product do |f| %>
  <div class="form-grop">
    <%= f.label :product_code %><br>
    <%= f.text_field :product_code %>
  </div>

  <div class="form-grop">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-grop">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

  <div class="form-grop">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>

  <hr/>

  <%= f.submit("#{@product.persisted? ? 'Update' : 'Create'} product",
    class: "btn btn-primary") %>
<% end %>
