<h1>Products</h1>

<table>
  <thead>
    <tr>
      <td>Code</td>
      <td>Name</td>
      <td>Price</td>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.product_code %></td>
      <td><%= product.name %></td>
      <td><%= number_to_currency(product.price) %></td>

      <%= form_tag order_items_path do %>
        <td><%= hidden_field_tag :product_id, product.id %></td>
        <td><%= number_field_tag :quantity, 1 %></td>
        <td><%= submit_tag "Add to Cart" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
